<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite"  >

 
  
   <test  name="ExplorerTestCase">
 	<parameter name = "browser"  value="internetexplorer"/>
    <classes>
      <class name="com.test.BaseTest"/>
    </classes>
  </test> 
 
  
</suite> <!-- Suite -->
