<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite"  >
	<test name="Automation of practo.com in Chrome">
 	<parameter name = "browser"  value="chrome"/>
    <classes>
      <class name="com.test.BaseTest"/>
    </classes>
    </test> 
   
   <test name="Automation of practo.com in Edge">
 	<parameter name = "browser"  value="msedge"/>
    <classes>
      <class name="com.test.BaseTest"/>
    </classes>
    </test> 
   
   
 
  
</suite> <!-- Suite -->
